:root {
  --white-color: #fff;
  --btn-color: #8e32c6;
  --text-color: #c7c7c7c7;
  --bg-color: #012d63;
  --font-family: "Roboto", sans-serif;
  --second-family: "Playfair Display", sans-serif;
  --third-family: "PT Serif", sans-serif;
}
html {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
  padding: 0;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--font-family);
}

.container {
  width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  background-color: var(--bg-color);
}
.nav-list {
  display: flex;
  justify-content: end;
}
.nav-item {
  margin-right: 29px;
}
.nav-link {
  font-size: 24px;
  color: var(--text-color);
}
.nav-link:hover {
  font-size: 24px;
  color: var(--white-color);
}
